/* Storj link sharing https://link.storjshare.io
More info about Storj at https://www.storj.io */

:root {
  --primary-color: #0052ff;
  --secondary-color: #001c4a;
  --light-grey: #F8F9FA;
  --border-color: #EDEEEF;
  --font-family: Inter, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--border-color);
}

h1, h2, h3, h4, h5, h6, b, p, span, a {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--secondary-color);
}

p, span {
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: var(--secondary-color);
}

a {
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.bg-grey {
  background: var(--light-grey);
}

.full-height {
  height: 100vh;
}


/* Navigation */

.navbar {
  padding: 22px 32px;
}

.logo {
  width: 134px;
  height: auto;
}

/* Buttons */

.btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-width: 1px;
}
.btn-lg {
  line-height: 1.75rem;
  padding: 0.5rem 1.1rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-secondary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-download {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-outline-primary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.btn-outline-secondary {
  border-color: #c3c8cf;
  color: var(--secondary-color);
}
.btn-outline-secondary:hover {
  color: var(--secondary-color);
  background-color: #f4f5f7;
  border-color: var(--secondary-color);
}

.btn-copy {
  position: absolute;
  bottom: 30px;
  right: 28px;
  color: var(--primary-color);
}
.btn-copy:hover {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-light {
  background: #fff;
}

.border-2 {
  border-width: 2px;
}

/* Content */

.sidebar {
  position: relative;
  background-color: var(--light-grey);
  border-right: 1px solid var(--border-color);
  overflow-x: hidden;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.expander,
.collapser {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  transform: rotate(180deg);
  opacity: 0.5;
}

.expander {
  display: none;
  left: 0;
}

.collapser {
  right: 0;
}

.expander:hover,
.collapser:hover {
  opacity: 1;
}

.expander.active {
  display: block;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.file-title {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  top: 3px;
  left: 2px;
}

/* Map */

.map {
  width: 100%;
  max-width: 800px;
  margin: auto;
  pointer-events: none;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 10px;
  padding-top: 20px;
}

/* Share modal */

.modal-dialog .modal-content {
  border-radius: 0.5rem;
  border: 0;
}

.modal-title {
  word-break: break-word;
}

.input-url {
  border: 0;
  font-size: 14px;
  height: 60px;
  padding-right: 90px;
}
.input-url:focus {
  color: #000;
}

.copy-notification {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-left: -64px;
  display: none;
}
.copy-notification-text {
  width: 110px;
  background: #D3FFE6;
  padding: 6px 8px;
  margin: 0 auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #00D459;
  border-top: 0;
  font-size: 14px;
}

/* Bucket page styles */

.directory {
  padding: 30px 30px 14px;
}
.breadcrumbs {
  margin-bottom: 16px;
}
.breadcrumbs a {
  color: #999;
}
.breadcrumbs a:hover {
  color: var(--primary-color);
}
.separator {
  color: #999;
}
.directory-link:hover {
  cursor: pointer;
  text-decoration: none;
}
.directory-link:hover .directory-name {
  color: var(--primary-color);
}
.directory-link .row {
  padding-top: 16px;
  padding-bottom: 16px;
}
.directory-link:hover .row {
  background: #f9f9f9;
  border-radius: 6px;
}
.directory-link img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  position: relative;
  top: -1px;
}
.directory-name {
  font-weight: bold;
}
.directory-size {
  margin-bottom: 0;
  text-wrap: nowrap;
}
.directory-item-row {
  width: calc(100% - 30px);
}
.download-icon-wrapper:hover {
  background-color: #f9f9f9;
}
.download-icon {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

#pdfTag,
#imgTag,
#videoTag,
#audioTag {
  display: none;
  max-width: 100%;
  margin-bottom: 20px;
}

#pdfTag {
  height: 500px;
}

.error-container {
  min-height: 73vh;
  width: 100%;
}

.error-container:before {
  background: url("../img/world.svg") no-repeat center center;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
}

.error-title {
  font-weight: 800;
  font-size: 90px;
}

.nodes-count {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  font-size: 12px;
  min-height: 37px;
  background: #F2F4F7;
  border-radius: 6px;
  font-style: normal;
  padding: 14px 20px;
}

/* Brand gradient line */

.gradient-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #4CAF50, #FFC107, #F44336, #9C27B0, #2196F3, #0052FF, #001c4a);
  z-index: 1;
}

/* Placeholder image */

#placeholderImage {
  border: 1px dashed #eee;
  border-radius: 6px;
}

.placeholder-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

.placeholder-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.placeholder-file-icon {
  width: 60px;
  height: 75px;
  position: relative;
  margin-bottom: 10px;
}

.placeholder-file-body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0052FF, #FF4ED8 );
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.placeholder-file-lines {
  position: absolute;
  top: 18px;
  left: 10px;
  right: 10px;
}

.placeholder-file-line {
  height: 4px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 2px;
}

.placeholder-no-preview {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

/* Responsiveness */

@media screen and (max-width: 991px) {
  .content {
    border-top: 1px solid var(--border-color);
  }

  .directory {
    padding: 14px;
  }

  .collapser {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .content {
    height: 100vh;
  }
}
