<footer>
    <div class="container-fluid">
        <div class="d-flex col-12 px-lg-4 px-xl-5 align-items-center justify-content-between footer">
            <div class="d-flex row align-items-center justify-content-start">
                <p class="m-0 pt-4 pt-sm-2">
                    Sign up for a 30 day trial today.<br/>
                    <a href="mailto:abuse@storj.io">Report Abuse</a>
                </p>
            </div>
            <div class="row">
                <a href="https://storj.io/signup" class="btn btn-primary btn-lg d-block d-md-inline-block">Sign Up</a>
                <a href="https://www.storj.io/" class="btn btn-outline-primary btn-lg ml-3 px-4">Learn More</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
