{{template "header.html" .}}
<div class="gradient-bar"></div>

<div class="bg-grey full-height">

  <nav class="navbar navbar-light">
    <div class="d-flex row align-items-center justify-content-start">
      <a class="navbar-brand" href="javascript:location.reload()">
        <img src="{{.Base}}/static/img/logo.svg?v={{.VersionHash}}" alt="Storj Logo" loading="lazy" class="logo mb-1">
      </a>
    </div>
    <div class="row">
      <a href="https://storj.io/signup" class="btn btn-primary btn-lg">Sign Up</a>
      <a href="https://www.storj.io/" class="btn btn-outline-primary btn-lg ml-3 px-4 d-none d-sm-inline-block">Learn More</a>
    </div>
  </nav>

  <div class="container-lg">
    <div class="row justify-content-center">

      <div class="col">
        <div class="card directory my-5">

          <section class="file-info text-left">

            <div class="row">
              <div class="col">
                <h3 class="directory-heading mb-3">{{.Data.Title}}</h3>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5 class="breadcrumbs">
                  {{range .Data.Breadcrumbs}}
                  <a href="{{.URL}}">{{.Prefix}}</a>
                  <span class="separator">/</span>
                  {{end}}
                </h5>
              </div>
            </div>

            <script src="{{.Base}}/static/js/common.js?v={{.VersionHash}}" type="text/javascript"></script>

            {{range .Data.Objects}}
            {{if .Prefix}}
            <a class="directory-link" href="{{.URL}}">
              <div class="row">
                <div class="col">
                  <img src="{{$.Base}}/static/img/folder.svg" alt="Prefix" />
                  <span class="directory-name">{{.Key}}</span>
                </div>
              </div>
            </a>
            {{else}}
            <div class="d-flex align-items-center w-100">
              <a class="directory-link {{if $.AllowDownload}}directory-item-row{{else}}w-100{{end}}" href="{{.URL}}">
                <div class="row align-items-center pr-2">
                  <div class="col-9 col-sm-10 d-flex align-items-center">
                    <img id="file-{{.Key}}" src="{{$.Base}}/static/img/file.svg" alt="Object" />
                    <script type="text/javascript" async>
                      setFileIconSource("{{$.Base}}", "{{$.VersionHash}}", "{{.Key}}");
                    </script>
                    <span class="directory-name text-break">{{.Key}}</span>
                  </div>
                  <div class="col-3 col-sm-2 px-0 text-right">
                    <p class="directory-size">{{.Size}}</p>
                  </div>
                </div>
              </a>
              {{ if $.AllowDownload }}
              <div class="ml-4 mt-n1 rounded download-icon-wrapper">
                {{if (gt (len $.ArchivePath) 0)}}
                <a class="p-1" href="?download=1&path={{.Key}}" download><img class="download-icon" src="{{$.Base}}/static/img/icon-download-black.svg?v={{$.VersionHash}}" alt="Download"></a>
                {{else}}
                <a class="p-1" href="{{.Key}}?download=1" download><img class="download-icon" src="{{$.Base}}/static/img/icon-download-black.svg?v={{$.VersionHash}}" alt="Download"></a>
                {{ end }}
              </div>
              {{end}}
            </div>
            {{end}}
            {{end}}

            {{if or .Data.IsParentListable .Data.ShowBackButton .Data.NextCursor}}
            <div class="row">
              {{if .Data.IsParentListable}}
              <a class="directory-link" href="{{if .ShowViewContents}}.{{else}}..{{end}}/">
                <!-- template comment: . instead of .. is a special case for going back inside a zip -->
                <div class="col">
                  <img src="{{.Base}}/static/img/back.svg?v={{.VersionHash}}" alt="...">
                  <span class="directory-name">...</span>
                </div>
              </a>
              {{end}}

              {{if .Data.ShowBackButton}}
              <a class="directory-link" href="./">
                <div class="col">
                  <img src="{{.Base}}/static/img/back.svg?v={{.VersionHash}}" alt="Back To Page 1">
                  <span class="directory-name">Back To Page 1</span>
                </div>
              </a>

              <div class="directory-link" onClick="history.back()">
                <div class="col">
                  <img src="{{.Base}}/static/img/back.svg?v={{.VersionHash}}" alt="Back">
                  <span class="directory-name">Back</span>
                </div>
              </div>
              {{end}}

              {{ if .Data.NextCursor }}
              <a class="directory-link" href="./?cursor={{ .Data.NextCursor }}">
                <div class="col">
                  <img src="{{.Base}}/static/img/next.svg?v={{.VersionHash}}" alt="Next">
                  <span class="directory-name">Next</span>
                </div>
              </a>
              {{end}}
              {{end}}
            </div>
          </section>

        </div>
      </div>

      <div class="container-fluid" style="padding-bottom: 30px; text-align: right;">
          <a href="mailto:abuse@storj.io">Report Abuse</a>
      </div>

    </div>
  </div>
</div>


</body>
</html>
