{{template "header.html" .}}
<div class="gradient-bar"></div>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 col-xl-3 px-4 pb-4 sidebar active d-block order-2 order-lg-1">
      <div class="row mb-2 mt-2 d-none d-lg-block">
        <div class="col">
          <a href="https://www.storj.io/"><img src="{{.Base}}/static/img/logo.svg?v={{.VersionHash}}" class="logo mt-4" alt="Storj Logo"></a>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col py-3 py-lg-4">

              <h3 class="mt-2 mt-lg-0 mb-2">You are getting this file from all over the world.</h3>
              <p>Storj cloud storage splits files into smaller pieces, then distributes them over a global network of nodes, and recompiles them securely on download. The map below shows the real-time locations of this file’s pieces.</p>

              <a href="https://www.storj.io/" class="btn btn-outline-secondary btn-lg d-block">Learn more about Storj</a>
              <p class="nodes-count w-100 mt-2 mb-2 text-center">{{ .Data.NodesCount }} Storj nodes are storing a piece of this file</p>

              <div id="map-img" class="map mb-2">
                <img src="?map=1&width=800" class="w-100" />
              </div>

              <p class="nodes-count w-100 mb-2 text-center">Sign up now to get 25GB free for 30 days.</p>
              <a href="https://storj.io/signup" class="btn btn-secondary btn-lg d-block">Sign Up</a>

            </div>
          </div>
        </div>
      </div>

      <div>
        <img class="collapser" src="{{.Base}}/static/img/collapse.svg?v={{.VersionHash}}" onclick="toggleSideBar()" alt="collapse icon" title="Toggle Sidebar" />
      </div>
    </div>

    <div class="col-lg-8 col-xl-9 px-4 content order-1 order-lg-2">

      <div class="row pt-4 pb-2">
        <div class="col-12 col-md-4">

          <div class="row mb-2d-block d-lg-none">
            <div class="col">
              <a href="https://www.storj.io/"><img src="{{.Base}}/static/img/logo.svg?v={{.VersionHash}}" class="logo" alt="Storj Logo"></a>
            </div>

          </div>
            <div class="file">
              <img src="{{.Base}}/static/img/icon-file.svg?v={{.VersionHash}}" class="d-inline-block pt-1 mr-0 mr-md-1" alt="File icon">
              <p class="file-title font-weight-bold mt-3 mt-lg-0">{{.Data.Key}}</p>
            </div>
            <p class="mt-3 mb-2">{{.Data.Size}}</p>
        </div>
        <div class="col-12 col-md-8 text-left text-md-right">
            <a href="?download=1{{if (gt (len .ArchivePath) 0)}}&path={{.ArchivePath}}{{ end }}" class="{{ if not .AllowDownload }}disabled {{ end }}btn btn-primary btn-lg mb-3 mr-2 mx-md-2 mt-1" download><img src="{{.Base}}/static/img/icon-download-white.svg?v={{.VersionHash}}" alt="Download" class="mr-2">Download</a>
            {{ if .ShowViewContents }}<a href="?wrap=1&path=/" class="btn btn-outline-primary btn-lg mb-3 mt-1 mr-2" contents>Open Archive</a>{{ end }}
            <button type="button" onclick="openModal()" class="btn btn-outline-primary btn-lg mb-3 mt-1 btn-share">Share</button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 pb-4">
          <object class="embed-responsive embed-responsive-4by3" id="pdfTag"></object>
          <img class="embed-responsive embed-responsive-4by3" id="imgTag" alt="preview image">
          <video class="embed-responsive embed-responsive-4by3" id="videoTag" controls></video>
          <audio class="embed-responsive embed-responsive-4by3" id="audioTag" controls></audio>
          <div class="d-none" id="placeholderImage" alt="Placeholder image">
            <div class="placeholder-container">
              <div class="placeholder-bg"></div>
              <div class="placeholder-file-icon">
                <div class="placeholder-file-body"></div>
                <div class="placeholder-file-lines">
                  <div class="placeholder-file-line"></div>
                  <div class="placeholder-file-line"></div>
                  <div class="placeholder-file-line"></div>
                  <div class="placeholder-file-line"></div>
                </div>
              </div>
              <div class="placeholder-no-preview">No preview available</div>
            </div>
            </div>
        </div>
      </div>

    </div>
    
  </div>
  <img class="expander" src="{{.Base}}/static/img/expand.svg?v={{.VersionHash}}" onclick="toggleSideBar()" alt="expand icon">
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-2 p-sm-4 p-md-5">
      <div class="modal-header border-0">
        <div class="copy-notification" id="copyNotification">
          <p class="copy-notification-text">Link Copied!</p>
        </div>
        <h5 class="modal-title mx-auto" id="shareModalLabel">Share {{.Data.Key}}</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body pt-0">
        <p>Just copy and paste the link to share this file.</p>
        <input class="form-control form-control-lg mt-4 input-url" type="url" id="url" readonly>
        <button type="button" name="copy" class="btn btn-light btn-copy" onclick="copy()" id="copyButton">Copy</button>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal" onclick="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<script type="text/javascript">
  const pdfExtensions = 'pdf'
  const imageExtensions = ['bmp', 'svg', 'jpg', 'jpeg', 'png', 'ico', 'gif']
  const videoExtensions = ['m4v', 'mp4', 'webm', 'mov', 'mkv']
  const audioExtensions = ['mp3', 'wav', 'ogg']

  function openModal() {
    if(!navigator.clipboard) {
      document.getElementById("copyButton").disabled = true;
    }
    document.getElementById("backdrop").style.display = "block"
    document.getElementById("shareModal").style.display = "block"
    document.getElementById("shareModal").className += "show"
    input.value = window.location.href;
  }

  function closeModal() {
      document.getElementById("backdrop").style.display = "none"
      document.getElementById("shareModal").style.display = "none"
      document.getElementById("shareModal").className += document.getElementById("shareModal").className.replace("show", "")
      document.getElementById("copyNotification").style.display = "none"
  }

  function copy() {
    navigator.clipboard.writeText(input.value)
    document.getElementById("copyNotification").style.display = "block"
  }

  function setupPreviewTag(id) {
      const previewURL = `${window.location.origin}${window.location.pathname}?wrap=0` + "{{if (gt (len .ArchivePath) 0)}}&path={{.ArchivePath}}{{ end }}"

      const el = document.getElementById(id)
      el.style.display = 'block'
      if (el.tagName === 'OBJECT') {
        el.data = previewURL
      } else {
        el.src = previewURL
      }
  }

  let modal = document.getElementById('shareModal');
  let input = document.getElementById('url');

  window.onclick = function (event) {
      if (event.target == modal) {
          closeModal()
      }
  }

  function toggleSideBar() {
      const sidebar = document.querySelector('.sidebar');
      const contentArea = document.querySelector('.content')
      const expander = document.querySelector('.expander');

      if (!(sidebar && contentArea && expander)) {
          return;
      }

      sidebar.classList.toggle('active');
      expander.classList.toggle('active');

      if (sidebar.classList.contains('active')) {
          sidebar.classList.replace('d-none', 'd-block');
          sidebar.classList.replace('col-xl-0', 'col-xl-3');
          sidebar.classList.replace('col-lg-0', 'col-lg-4');
          contentArea.classList.replace('col-lg-12', 'col-lg-8')
          contentArea.classList.replace('col-xl-12', 'col-xl-9')
      } else {
          sidebar.classList.replace('d-block', 'd-none');
          sidebar.classList.replace('col-xl-3', 'col-xl-0');
          sidebar.classList.replace('col-lg-4', 'col-lg-0');
          contentArea.classList.replace('col-lg-8', 'col-lg-12')
          contentArea.classList.replace('col-xl-9', 'col-xl-12')
      }
  }

  function setPlaceholderImage() {
    document.getElementById('placeholderImage').classList.remove('d-none');
  }

  window.onload = async function () {
      let fileExtension = {{.Data.Key}}.split('.').pop();
      if (fileExtension) {
        fileExtension = fileExtension.toLowerCase();
      }

      switch (true) {
          case fileExtension === pdfExtensions:
              setupPreviewTag('pdfTag')
              break
          case imageExtensions.includes(fileExtension):
              setupPreviewTag('imgTag')
              break
          case videoExtensions.includes(fileExtension):
              setupPreviewTag('videoTag')
              break
          case audioExtensions.includes(fileExtension):
              setupPreviewTag('audioTag')
              break
          default:
              setPlaceholderImage()
      }
  }
</script>