{{template "header.html" .}}

<div class="vh-80 w-100">
  <div class="flex-column align-content-center justify-content-center">

    <div class="col text-center text-md-center">
      <a href="https://www.storj.io/"><img src="{{.Base}}/static/img/logo.svg" class="logo mt-4" alt="Storj DCS Logo"></a>
    </div>

    <div class="d-flex flex-column text-center justify-content-center col-12 col-lg-12 my-4 error-container">
      <h3 class="mb-3">{{.Data}}</h3>
      <span><a href="/" class="btn btn-primary btn-lg rounded-pill mt-2 d-block d-md-inline-block homepage-btn">Go to homepage</a></span>
    </div>

  </div>
</div>

{{template "footer.html" .}}
