{{template "header.html" .}}

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-8 col-xl-9 bg-grey px-lg-4 px-xl-5 content">

      <div class="row pt-4 pb-2">
        <div class="col-12 col-md-5 text-center text-md-left">
            <div class="file">
              <img src="{{.Base}}/static/img/icon-file.svg" class="d-block d-md-inline-block mx-auto" alt="File icon">
              <p class="file-title-sidebar font-weight-bold mt-3 mt-md-0 ml-0 ml-md-1">{{.Data.Key}}</p>
            </div>
            <p class="mt-3">{{.Data.Size}}</p>
        </div>
        <div class="col-12 col-md-7 text-center text-md-right">
          {{ if .ShowViewContents }}<a href="?wrap=1&path=/" class="btn btn-primary btn-lg rounded-pill mb-3 mx-1 mx-md-2 mt-1" contents>View Contents</a>{{ end }}
            <a href="?download=1{{if (gt (len .ArchivePath) 0)}}&path={{.ArchivePath}}{{ end }}" class="btn btn-primary btn-lg rounded-pill mb-3 mx-1 mx-md-2 mt-1" download>Download <img src="{{.Base}}/static/img/icon-download-white.svg" alt="Download" class="ml-2"></a>
            <button type="button" onclick="openModal()" class="btn btn-outline-primary btn-lg rounded-pill mb-3 mt-1 btn-share">Share <img src="{{.Base}}/static/img/icon-share.svg" alt="Share" class="ml-2"></button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 pb-4">
          <embed class="embed-responsive embed-responsive-4by3" id="pdfTag">
          <img class="embed-responsive embed-responsive-4by3" id="imgTag" alt="preview image">
          <video class="embed-responsive embed-responsive-4by3" id="videoTag" controls></video>
          <audio class="embed-responsive embed-responsive-4by3" id="audioTag" controls></audio>
          <img class="embed-responsive embed-responsive-4by3 d-none" id="placeholderImage" src="{{.Base}}/static/img/file-drop.svg" alt="placeholder image">
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-xl-3 px-lg-4 px-xl-5 sidebar active d-block">
      <div class="row mb-3 mt-3">
        <div class="col text-center text-md-left">
          <a href="https://www.storj.io/"><img src="{{.Base}}/static/img/logo.svg" class="logo mt-4" alt="Storj DCS Logo"></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col py-3 py-lg-4 text-center text-md-left">
              <h3 class="mb-3">You’re getting this file from all over the world.</h3>
              <p>Storj Decentralized Cloud Storage splits files into smaller pieces, then distributes those pieces over a global network of Nodes and recompiles them securely on download. This map shows the real-time locations of this file’s pieces.</p>
              <p class="nodes-count w-100 mt-2 text-center">{{ .Data.NodesCount }} Storj nodes are storing a piece of this file</p>
            </div>
          </div>
          <div class="row">
            <div id="map-img" class="col-12 col-lg-12 text-center map mt-4 mb-5">
              <img src="?map=1&width=800" style="width:100%;" />
            </div>
          </div>
        </div>
      </div>
      <p><img class="collapser" src="{{.Base}}/static/img/collapse.svg" onclick="toggleSideBar()" alt="collapse icon"></p>
    </div>
  </div>
  <p><img class="expander" src="{{.Base}}/static/img/expand.svg" onclick="toggleSideBar()" alt="expand icon"></p>
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-2 p-sm-4 p-md-5">
      <div class="modal-header border-0">
        <div class="copy-notification" id="copyNotification">
          <p class="copy-notification-text">Link Copied!</p>
        </div>
        <h5 class="modal-title mx-auto" id="shareModalLabel">Share {{.Data.Key}}</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body pt-0">
        <p>Just copy and paste the link to share this file.</p>
        <input class="form-control form-control-lg mt-4 input-url" type="url" id="url" readonly>
        <button type="button" name="copy" class="btn btn-light btn-copy" onclick="copy()" id="copyButton">Copy</button>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal" onclick="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<script type="text/javascript">
  const pdfExtensions = 'pdf'
  const imageExtensions = ['bmp', 'svg', 'jpg', 'jpeg', 'png', 'ico', 'gif']
  const videoExtensions = ['m4v', 'mp4', 'webm', 'mov', 'mkv']
  const audioExtensions = ['mp3', 'wav', 'ogg']

  function openModal() {
    if(!navigator.clipboard) {
      document.getElementById("copyButton").disabled = true;
    }
    document.getElementById("backdrop").style.display = "block"
    document.getElementById("shareModal").style.display = "block"
    document.getElementById("shareModal").className += "show"
    input.value = window.location.href;
  }

  function closeModal() {
      document.getElementById("backdrop").style.display = "none"
      document.getElementById("shareModal").style.display = "none"
      document.getElementById("shareModal").className += document.getElementById("shareModal").className.replace("show", "")
      document.getElementById("copyNotification").style.display = "none"
  }

  function copy() {
    navigator.clipboard.writeText(input.value)
    document.getElementById("copyNotification").style.display = "block"
  }

  function setupPreviewTag(id) {
      const previewURL = `${window.location.origin}${window.location.pathname}?wrap=0` + "{{if (gt (len .ArchivePath) 0)}}&path={{.ArchivePath}}{{ end }}"

      document.getElementById(id).style.display = 'block'
      document.getElementById(id).src = previewURL
  }

  let modal = document.getElementById('shareModal');
  let input = document.getElementById('url');

  window.onclick = function (event) {
      if (event.target == modal) {
          closeModal()
      }
  }

  function toggleSideBar() {
      const sidebar = document.querySelector('.sidebar');
      const contentArea = document.querySelector('.content')
      const expander = document.querySelector('.expander');

      if (!(sidebar && contentArea && expander)) {
          return;
      }

      sidebar.classList.toggle('active');
      expander.classList.toggle('active');

      if (sidebar.classList.contains('active')) {
          sidebar.classList.replace('d-none', 'd-block');
          sidebar.classList.replace('col-xl-0', 'col-xl-3');
          sidebar.classList.replace('col-lg-0', 'col-lg-4');
          contentArea.classList.replace('col-lg-12', 'col-lg-8')
          contentArea.classList.replace('col-xl-12', 'col-xl-9')
      } else {
          sidebar.classList.replace('d-block', 'd-none');
          sidebar.classList.replace('col-xl-3', 'col-xl-0');
          sidebar.classList.replace('col-lg-4', 'col-lg-0');
          contentArea.classList.replace('col-lg-8', 'col-lg-12')
          contentArea.classList.replace('col-xl-9', 'col-xl-12')
      }
  }

  function setPlaceholderImage() {
    document.getElementById('placeholderImage').classList.remove('d-none');
  }

  window.onload = async function () {
      let fileExtension = {{.Data.Key}}.split('.').pop();
      if (fileExtension) {
        fileExtension = fileExtension.toLowerCase();
      }

      switch (true) {
          case fileExtension === pdfExtensions:
              setupPreviewTag('pdfTag')
              break
          case imageExtensions.includes(fileExtension):
              setupPreviewTag('imgTag')
              break
          case videoExtensions.includes(fileExtension):
              setupPreviewTag('videoTag')
              break
          case audioExtensions.includes(fileExtension):
              setupPreviewTag('audioTag')
              break
          default:
              setPlaceholderImage()
      }
  }
</script>

{{template "footer.html" .}}
