name: Go Build, Test, and Docker Build/Push

on:
  push:
    branches:
      - feat/DWS-420
      - main
  pull_request:
    branches:
      - main

jobs:
  
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run golang test
        run: go test -v ./...

  build-docker-image-gateway-mt:
    environment: stage
    needs: ["lint", "test"]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v4
        env:
          DOCKER_ARCH: ${{ env.DOCKER_ARCH }}
          GO_VERSION: ${{ env.GO_VERSION }}
        with:
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/dev/${{ github.repository }}:${{ github.sha }}, ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/dev/${{ github.repository }}:latest
          push: false
          context: /cmd/gateway-mt
          build-args: |
            DOCKER_ARCH=${{ env.DOCKER_ARCH }}
            GO_VERSION=${{ env.GO_VERSION }}

  build-docker-image-authservice:
    environment: stage
    needs: ["lint", "test"]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v4
        env:
          DOCKER_ARCH: ${{ env.DOCKER_ARCH }}
          GO_VERSION: ${{ env.GO_VERSION }}
        with:
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/dev/${{ github.repository }}:${{ github.sha }}, ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/dev/${{ github.repository }}:latest
          push: false
          context: /cmd/authservice
          build-args: |
            DOCKER_ARCH=${{ env.DOCKER_ARCH }}
            GO_VERSION=${{ env.GO_VERSION }}

